<%= link_to "new task", task_new_path, class: "btn btn-primary" %>
<% @tasks.each do |task| %>
  <h2>Task: <%= task.title %></h2>
  <p>Description: <%= task.details %>|| Completed: <%= task.completed %></p>
  <%= link_to "edit", task_edit_path(task), class: "btn btn-warning" %>
  <%= link_to "delete", task_path(task), class: "btn btn-danger", method: :delete %>
<% end %>
